

*{
  margin:0;
  padding:0;
  font-family:sans-serif;
  
}

header{
  background-color: #99aab6;
  margin:auto;
}
.container{
  width:80%;
  margin:0 auto;
}

.container:after{
  content:"";
  display:block;
  clear:both;
}

 .header-left {
  float:left;
  color:black;
  padding:35px 20px;
  
}
.header-left h1{
  font-size:35px;
  font-family:arial;
  padding:auto;
}
.header-left p{
  font-size:15px;
  font-family:inherit;
  padding:0;
}

.header-list ul{
  float:right;
  margin-right:50px;
  margin-top:35px;
  
}
.header-list ul li{
  display:inline-block;
}

.header-list ul li a{
  padding:25px 20px;
  display:inline-block;
  color:white;
  transition:all 0.5 ease;
}

.header-list ul li a :hover{
  color:#fff;
  background-color:#148f77;
}

.active{
  color:#fff;
  background-color:#148f77;
}


*{
  margin:0;
  padding:0;
  box-sizing:border-box

}
.container{
  max-width:1170px;
  margin:auto;
}
.row{
  display:flex;
  flex-wrap:wrap;

}

ul{
  list-style:none;
}

.footer{
  background-color:#148f77;
  padding:70px 0;
  box-sizing:border-box;
  
}
.footer-col{
  width:25%;
  padding:0 15px;
}

.footer-col h4{
  text-transform:capitalize;
  font-size:18px;
  color:#ffffff;
  margin-bottom:30px;
  font-weight:500;
  position:relative;
}

.footer-col h4 ::before{
  content:'';
  position:absolute;
  left:0;
  bottom:-10px;
  background-color: #e91e63;
  height:2px;
  box-sizing:border-box;
  width:50px;

}
.footer-col ul li a{
  margin-bottom:16px;
  text-transform:capitalize;
  color:#ffffff;
  text-decoration:none;
  font-weight:300px;
  color:#bbbbbb;
  display:block;
}

.footer-col ul li a:hover{
  color:#ffffff;
  padding-left:8px;

}
.footer-col .sosial-links a{
  display:inline-block;
  height:40px;
  width:40px;
  background-color:rgba(255,255,255,0.2);
  margin-right:0 10px 10px 0;
  text-align:center;
  text-height:40px;
  border-radius: 50%;
  color:#ffffff;
  transition:all 0.5 ease;
}
.footer-col .sosial-links a:hover{
  color:#24262b;
  background-color:#ffffff;


}